.buttonLink {
  background-color: var(--title-color);
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 10px;
  border-radius: 5px;
}

.buttonLink > p {
  color: var(--color-white);
  opacity: 0.87;
}

.buttonLink:hover {
  box-shadow: 6px 6px 0px -1px rgba(238,151,45,0.98);
  -webkit-box-shadow: 6px 6px 0px -1px rgba(238,151,45,0.98);
  -moz-box-shadow: 6px 6px 0px -1px rgba(238,151,45,0.98);
}