.header {
  background-color: #14171b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin-bottom: var(--margin-default-bottom-section);
  padding-top: var(--padding-top-body-default);
}


@media (width >= 769px){
  .memberHeader {
    padding-bottom: 14rem !important;
  }
  
}

@media (width <= 768px){
  .header {
    padding-bottom: 10.875rem ;
  }
}

@media (width <= 480px){
  .header {
    padding-bottom: 7.8125rem;
  }
}