.about_lafoca {
  margin-bottom: var(--margin-default-bottom-section);
}

.appointments {
  margin-top: 10.125rem;
  display: flex;
  justify-content: space-between;
}

.appointments__menina img {
  object-fit: contain;
  object-position: center center;
  width: clamp(290px, calc(30.5833vw + 240px), 680px);


  height: auto;
  margin-top: -7.6rem;
}

.container__accordion {
  margin: 0 auto;
  text-align: left;
  padding-left: 5rem;
  padding-right: var(--padding-default-page-right);
  max-width: 825px;
}

.accordion {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}


@media(width <=1200px) {
  .appointments {
    flex-flow: wrap;
  }

  .appointments__menina {
    margin-bottom: var(--margin-default-bottom-section);
  }

  .appointments__menina img {

    /* width: clamp(290px, calc(40.41vw + 270px), 680px) !important; */

  }

  .container__accordion {
    padding: var(--padding-default-page);
  }
}

@media (width <=480px) {
  .appointments__menina img {

    width: clamp(200px, calc(1.41vw + 249px), 680px) !important;

  }
}

@media (max-width: 480px) {
  
  .about_lafoca h2::before {
    content: "";
    display: block;
  }

  .about_lafoca h2, .about_lafoca span {
    display: block;
    text-transform: uppercase; /* Faz o texto "O LAFOCA" maiúsculo */
  }

  .about_lafoca h2 {
    text-transform: uppercase; /* Faz o texto "SOBRE" maiúsculo */
  }

  .container__accordion span {
    font-size: 1.8rem;
  }
}