/* src/components/admin/layout.module.css */
.container {
  display: flex;
  height: 100vh;
}

.sideBar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #343a40;
  color: #fff;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}
