.card_project {
  max-width: 23.6875rem;
  min-width: 17.3rem;
}

.card_content_img {
  max-width: 23.6875rem;
  min-width: 17.3rem;
  max-height: 15.8125rem;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1.25rem 1.25rem 0 0;
}

.card_content_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card_info {
  height: 14.586875rem;
  padding: 1.328125rem 0;
  background-color: #fff;
  border-radius: 0 0 0.9375rem 0.9375rem;
  padding-left: 1.4375rem;
  text-align: left;
}

.card_info>span {
  color: rgba(34, 34, 34, 0.65);
}

.card_info>h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.5625rem;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_info>p {
  color: rgba(34, 34, 34, 0.65);
  margin-bottom: 0.9375rem;
  line-height: 1.5rem;
}