.projects_container {
  margin-bottom: var(--margin-default-bottom-section);
  
}

.projects_card {
  display: flex;
  gap: 1.4375rem;
  justify-content: center;
}

@media (max-width: 1024px) {
  .projects_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
  }
  /* . > div:nth-child(3) {
    grid-column: span 2;
  } */
}

@media (max-width: 620px) {
  .projects_card {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }
}