.projects_container {
  margin-bottom: var(--margin-default-bottom-section);
  
}

.projects_card {
  display: flex;
  gap: 1.4375rem;
  justify-content: center;
}

@media (width <= 850px) {
  .projects_card {
    flex-wrap: wrap;
    
  }
  

}