.sectionMain{
  margin-top: 7.875rem;
}

.sectionMain img {
  width: 100%;
}

.title {
  text-align: left;
}

@media (width <=768px) {
  .title {
      font-size: 1.625rem;
  }
}

@media (width <=480px) {
  .title {
      font-size: 1.5rem;
  }
}