.membersMobile {
  display: none;
}

.team {
  margin-bottom: var(--margin-default-bottom-section);
}

.team > div > a {
  text-align: right;
}

@media (width <=480px) {
  .team > div > p {
    margin-bottom: 40px;
  }

  .membersMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }
}