.results_background {
  background: var(--color-background-results);
  padding: 6.8125rem 0;
  margin-bottom: 6.375rem;
}

.results h2,
.results p {
  color: var(--color-white);
  text-align: left;
}

.results h2 {
  font-size: 2.625rem;
  margin-bottom: 1.875rem;
  letter-spacing: 0.0525rem;
  line-height: 3.75rem;
  width: 100%;
}

.results span {
  font-size: 3.125rem;
  font-weight: 800;
}

.results {
  display: flex;
  justify-content: space-between;
}

.results_counts {
  display: flex;
  align-items: center;
  gap: 75px;
}

.container_count {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.results_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.results_images :first-child {
  position: absolute;
  top: -160px;
  right: 130px;
}

.results_images :last-child {
 
  position: absolute;
  bottom: -210px;
  right: 0;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width <= 1280px) {
  .results_images :last-child {
    display: none;
  }

  .results {
    justify-content: center;
  }

  .results h2 {
    text-align: center;
  }
  
}

.results_images :first-child {
  animation: rotate360 10s linear infinite;
}