.header__logo img {
  width: clamp(100px, 100%, 788px);
  height: auto;
  margin: 42px 0 10% 0;
}

@media (width <= 1366px) {
  .header__logo img {
    width: clamp(100px, 70%, 788px);
    height: auto;
    margin: 42px 0 6% 0;
  }
}

@media (width <= 768px) {
  .header__logo {
    text-align: center;
  }
}