@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root{
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-background-results: #222;
  --bg-color: #F6F7FB;
  --main-color: #EE972D;
  --title-color:#222222;
  --text-color: #222222A6;
  --bg-accordion: #EBEBEB;
  

  /*NOSSA EQUIPE*/
  --function: rgba(34, 34, 34, 0.65);
  --button: #222222;

  --padding-default-page: 0 8rem;
  --font-size-12pxrem: 0.75rem;
  --font-weight-semi-bold: 600;
  --max-width: 1440px;

  --typography-max: 1.125rem; /*18px*/
  --typography-min: 1.125rem; 
  /* --typography-responsive: clamp(1.125rem, 0.3043rem + 3.4783vw, 3rem); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  list-style: none;
}

p {
  margin: 0;
}

body {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  background: var(--bg-color);
  color: var(--title-color);
  margin: 0 auto;
}

span {
  color: var(--main-color);
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
}

section {
 
    data-aos: fade-up;
    data-aos-duration: 2000;
  
}
/*regra para aplicar nas laterais da página
  envolve um conjunto de componentes*/
.global-container {
  padding: var(--padding-default-page);
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.global__paragraph_text {
  line-height: 36.654px;
  color: rgba(34, 34, 34, 0.65);
  font-weight: 500;
  /* font-size: ; */
  font-size: var(--typography-responsive);
}