.cardInfo {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.cardContent {
  margin-left: 1.5rem;
}

.cardContent_tittle {
  font-weight: 600;
}

.cardContent_desc {
  font-weight: 400;
}

.cardLink {
  margin-left: auto;
}