.card_content {
  position: absolute;
  width: 90%;
  padding: 11px 11px;
  background-color: var(--color-white);
  border-radius: 14.886px;
  left: 0;
  right: 0;
  bottom: 1.875rem;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.card_content_name {
  font-family: Inter;
  font-size: 15.157px;
  font-style: normal;
  font-weight: 800;
  text-transform: none;
  /* 229.087% */
  letter-spacing: 0.303px;
  color: var(--color-black);
  margin-bottom: auto;
}

.card_content_button {
  padding: 0.96125rem 1.3rem;
  background-color: var(--button);
  color: var(--color-white);
  font-weight: 900;
  border-radius: 0.9rem;
  height: min-content;
  cursor: pointer;
}

.card_content_function {
  color: var(--function);
  font-size: 13.262px;
  font-style: normal;
  font-weight: 500;
  line-height: 34.723px;
  /* 261.814% */
  letter-spacing: 0.265px;
}

@media (width <=480px) {

  .card_content_name {
    font-size: 0.5625rem;
    margin-bottom: 5px !important;
  }

  .card_content {
    bottom: 0.875rem;
  }

  .card_content_function {
    font-size: 0.508375rem;
  }
  .card {
    height: 186px !important;
    
  }
}


/* @media (width <=880px) {
  .card {
    height: 350px !important;
  }
} */