.menu_container > ul {
  display: flex;
  gap: 1.5625rem;
  justify-content: space-between;
  margin-top: 11.75rem;
  margin-bottom: 11.75rem;
}

.menu_card {
  border-radius: 0.625rem;
  position: relative;
  height: 17.1875rem;
  overflow: hidden;
}

.menu_content {
  position: absolute;
  bottom: 1.5rem;
  left: 1.625rem;
  text-align: left;
}

.menu_content > h4 {
  color: var(--color-white);
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}


.menu_img {
  width: 100%;
  height: 100%;
}

.menu_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


