.scrollableNav::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

.scrollableNav::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.scrollableNav::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}